<!doctype html>
<html>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Add New Pantry Item</h1>
  <form action="/users/<%= owner._id %>/foods" method="POST">
    <label>Name: <input name="name" required></label>
    <button type="submit">Save</button>
  </form>
</body>
</html>
